* {
    padding: 0;
    margin: 0;
}

:root {
    --bgColor1: #f1f3e8;
    --titleColor1: #1E1E1E;
    --ParagfhColor1: #1E1E1E;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--bgColor1);
}

header {
    height: 74px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--bgColor1);
    color: var(--titleColor1);
}

header p {
    font-weight: 600;
    font-size: 1.875rem;
}

.tituloPage {
    width: 50%;
}

.ancoras {
    display: flex;
    gap: 2rem;
}

.ancoras a {
    text-decoration: none;
    color: var(--paragfhColor1);
    font-weight: 300;
    font-size: 1.15rem;
}

.ancoras a:hover {
    text-decoration: none;
    color: var(--paragfhColor1);
    font-weight: 550;
    font-size: 1.15rem;
}

.headBg {
    background-image: url(./img/MargaretHamiltonBG.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 36rem;
}

.shade {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(270.37deg, #313131 0.43%, rgba(49, 49, 49, 0) 98.62%);
}

.vazio {
    width: 30rem;
}

.tituloP {
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    margin-right: 1rem;
}

.tituloP h3 {
    font-weight: 700;
    font-size: 5.5rem;
    text-align: right;

    color: #DFE1D5;
}

.paragrafoH {
    width: 100%;
}

.paragrafoH p {
    font-weight: 500;
    font-size: 1.5625rem;
    line-height: 1.875rem;
    text-align: right;

    color: #DFE1D5;
}

.card1 {
    height: 33rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

.textoCard1 {
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textoCard1 h2 {
    font-weight: 700;
    font-size: 80px;
    color: var(--titleColor1);
}

.textoCard1 p {
    font-weight: 500;
    font-size: 20px;
    color: var(--ParagfhColor1);
}

.imgCard1 {
    border-radius: 100%;
    width: 440px;
    height: 440px;
}

.imgBGCard2 {
    height: 33rem;
    background-image: url(./img/MargWriting.jpeg);
    background-repeat: no-repeat;
    background-size: 60%;
}

.shadeCard2 {
    height: 33rem;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
    background: linear-gradient(270.15deg, #f1f3e8 46.02%, rgba(239, 241, 228, 0) 99.88%);
}

.textoCard2 {
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textoCard2 h2 {
    font-weight: 700;
    font-size: 3.75rem;
    color: var(--titleColor1);
    text-align: right;
}

.textoCard2 p {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--ParagfhColor1);
    text-align: right;
}

.card3 {
    height: 20rem;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

.center3 {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.center3 img {
    height: 18.75rem;
    border-radius: 100%;
}

.center3 div {
    width: 30rem;
}

.center3 div p {
    color: var(--ParagfhColor1);
    font-weight: 500;
    font-size: 1.25rem;
}

.imgBGCard4{
    height: 33rem;
    background-repeat: no-repeat;
    background-size: 61%;
    background-position: right;
    background-image: url(./img/MargOnApollo.png);
}

.shadeCard4{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0rem 4rem 0rem 4rem;
    background: linear-gradient(90.1deg, #1E1E1E 39.12%, rgba(49, 49, 49, 0) 99.91%);
}

.textoCard4 {
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.textoCard4 h2 {
    font-weight: 700;
    font-size: 3.75rem;
    color: var(--bgColor1);
}

.textoCard4 p {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--bgColor1);
}
footer{
    height: 26.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #1E1E1E 0%, #17191A 17.71%);
}
.contentFoot img{
    width: 18.75rem;
}
.contentFoot{
    display: flex;
    align-items: center;
}
.contentFoot a,.contentFoot p{
    font-weight: 500;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--bgColor1);
}
.contentFoot a:hover{
    font-weight: 700;
    color: #c2d1df;
}
